@import "variables";

.App {
  width: 27%;
  aspect-ratio: 1;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.OptionPicker {
  width: 60%;
  height: auto;
  margin: auto;
  text-align: center;
}

.Footer {
  font-size: x-small;
  text-align: right;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.Card {
  height: 100%;
}

.CardBody{
  display: flex;
  align-items: center;
}

.App-logo {
  height: 4em;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
}